.tabs {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.tab-link {
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}

.tab-link.active {
  background-color: #000000;
  color: #ffffff;
}

.tab-link:hover {
  background-color: darkgrey;
}

.small {
  margin: auto 10%;
}

.product-details-container {
  display: flex;
  flex-direction: column;
}

.product-detail-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.detail-title, .detail-value {
  flex: 1;
}

.detail-title {
  text-align: left;
}

.detail-value {
  text-align: right;
}

.table {
  color: #333;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table td {
  padding: 0.5rem;
  vertical-align: middle;
  border-top: 0 none;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.bg-light {
  background-color: #e2e3e5;
}

.font-weight-bold {
  font-weight: bold;
}

.table tbody tr {
  border-bottom: 0;
}

#Product {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 15px;
}

.product-detail {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  align-items: center;
}

.detail-title,
.detail-value {
  flex: 1;
}

.product-detail:nth-child(odd) {
  background-color: rgb(40, 42, 46);
}

.product-detail:nth-child(even) {
  background-color: rgb(31, 33, 37);
}

.detail-title {
  font-weight: bold;
  margin-right: 8px;
}

.detail-value {
  text-align: left;
}

.detail-title {
  width: 30%;
}

.detail-value {
  width: 70%;
}

.table tbody tr:nth-child(odd) {
  background-color: rgb(40, 42, 46);
}

.table tbody tr:nth-child(even) {
  background-color: rgb(31, 33, 37);
}

table {
  color: white;
  width: 100%;
}

.table .detail-title,
.table .detail-value {
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-button {
  padding: 5px 15px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.list-button:hover {
  background-color: #e1e1e1;
}

.right-buttons {
  display: flex;
  gap: 10px;
}

button {
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.photos-grid {
  column-count: 3;
  column-gap: 10px;
}

.photo-item {
  break-inside: avoid;
  margin-bottom: 10px;
}

.photo-item img {
  width: 100%;
  display: block;
  border: 5px solid black;
  box-sizing: border-box;
}

.text-success {
  color: green!important;
}

.text-danger {
  color: red!important;
}

.loading-bar-container {
  height: 20px;
  margin: auto 10%;
  background-color: grey;
}

.loading-bar {
  height: 20px;
  width: 0;
  background-image: repeating-linear-gradient(
    -45deg,
    #007BFF, 
    #007BFF 10px, 
    #FFF 10px,
    #FFF 20px
  );
  animation: expandAndMove 2s forwards;
}

@keyframes expandAndMove {
  0% {
    width: 0;
    background-position: 0% 0;
  }
  100% {
    width: 100%;
    background-position: 28px 0;
  }
}

#SimilarProducts {
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background: rgb(31, 33, 37);
  padding: 10px;
  border-radius: 8px;
  height: 140px;
}

.product-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 4px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.title {
  font-size: 14px;
  color: teal;
  margin-bottom: 4px;
}

.price {
  font-size: 14px;
  color: limegreen;
  margin-bottom: 4px;
}

.shipping {
  font-size: 14px;
  color: goldenrod;
  margin-bottom: 4px;
}

.time-left {
  font-size: 14px;
  color: white;
}

.sort-controls {
  padding: 10px;
}

.sort-controls select {
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
}

.modal.show .modal-backdrop {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.7);
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-arrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.close-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: grey;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1;
  display: inline-block;
}

.close-button:hover {
  background-color: darkgrey;
}
