<div class="small" *ngIf="itemDetailsBool">

    <div class="loading-bar-container" *ngIf="loading">
        <div class="loading-bar"></div>
    </div>
    <h5 style="text-align: center;margin: 10px;">{{itemDetails.Item.Title}}</h5>
    <div class="container">
        <button class="list-button" (click)="button1Click()">&lt; List</button>
        <div class="right-buttons">
            <button (click)="button2Click()"
                style="background-color: #4267B2; color: white; border: none; padding: 10px 20px; border-radius: 5px; font-weight: bold; cursor: pointer;">
                <i class="fab fa-facebook-square"></i>
            </button>
            <button (click)="button3Click(); icon3State = !icon3State">
                <span class="material-symbols-outlined" *ngIf="!icon3State">
                    add_shopping_cart
                </span>
                <span class="material-symbols-outlined" *ngIf="icon3State">
                    remove_shopping_cart
                </span>
            </button>


        </div>
    </div>
    <div class="tabs d-flex justify-content-end">
        <button class="tab-link" [class.active]="activeTab === 'Product'" (click)="openTab('Product')">Product</button>
        <button class="tab-link" [class.active]="activeTab === 'Photos'"
            (click)="onPhotosButtonClick(itemDetails.Item.Title)">Photos</button>

        <button class="tab-link" [class.active]="activeTab === 'Shipping'"
            (click)="openTab('Shipping')">Shipping</button>
        <button class="tab-link" [class.active]="activeTab === 'Seller'" (click)="openTab('Seller')">Seller</button>
        <button class="tab-link" [class.active]="activeTab === 'SimilarProducts'"
            (click)="onSimilarProductsButtonClick(itemDetails.Item.ItemID)">Similar Products</button>
    </div>

    <div id="Product" class="tab-content" *ngIf="activeTab === 'Product'">
        <table class="table">
            <tbody>
                <tr>
                    <td class="detail-title">Product Images</td>
                    <td class="detail-value">
                        <a href="#" (click)="openImageModal(0)">View Product Images Here</a>
                        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Product Images</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            (click)="closeImageModal()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="image-container">
                                            <button class="nav-arrow left-arrow" (click)="navigateImages(-1)">
                                                <i class="fas fa-chevron-left"></i>
                                            </button>
                                            <div class="image-slide">
                                                <img [src]="itemDetails?.Item?.PictureURL[selectedImageIndex]"
                                                    class="img-fluid" alt="Product Image">
                                                <div class="close-button" (click)="closeImageModal()">Close</div>
                                            </div>
                                            <button class="nav-arrow right-arrow" (click)="navigateImages(1)">
                                                <i class="fas fa-chevron-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="detail-title">Price</td>
                    <td class="detail-value">{{ itemDetails.Item.CurrentPrice.Value }}</td>
                </tr>
                <tr>
                    <td class="detail-title">Location</td>
                    <td class="detail-value">{{ itemDetails.Item.Location }}</td>
                </tr>
                <tr>
                    <td class="detail-title">Return Policy (US)</td>
                    <td class="detail-value">
                        {{ itemDetails.Item.ReturnPolicy.ReturnsAccepted }}, Within {{
                        itemDetails.Item.ReturnPolicy.ReturnsWithin }}
                    </td>
                </tr>
                <!-- Existing loop for item specifics -->
                <tr *ngFor="let detail of itemDetails.Item.ItemSpecifics.NameValueList">
                    <td class="detail-title">
                        {{ detail.Name }}
                    </td>
                    <td class="detail-value">
                        {{ detail.Value.join(', ') }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="Photos" class="tab-content" *ngIf="activeTab === 'Photos'">
        <div class="photos-grid">
            <div *ngFor="let photo of this.photos" class="photo-item">
                <img [src]="photo.link" [alt]="photo.title" />
            </div>
        </div>
    </div>

    <div id="Shipping" class="tab-content" *ngIf="activeTab === 'Shipping'">
        <table class="table">
            <tbody>
                <tr>
                    <td class="detail-title">Shipping Cost</td>
                    <td class="detail-value">{{ itemId.shippingInfo[0].shippingServiceCost[0].__value__ | currency:
                        itemId.shippingInfo[0].shippingServiceCost[0]["@currencyId"] }}</td>
                </tr>
                <tr>
                    <td class="detail-title">Shipping Locations</td>
                    <td class="detail-value">{{ itemId.shippingInfo[0].shipToLocations[0] }}</td>
                </tr>
                <tr>
                    <td class="detail-title">Handling Time</td>
                    <td class="detail-value">{{ itemId.shippingInfo[0].handlingTime[0] }} Day</td>
                </tr>
                <tr>
                    <td class="detail-title">Expedited Shipping</td>
                    <td class="detail-value">
                        <span *ngIf="itemId.shippingInfo[0].expeditedShipping[0] === 'true'; else notExpedited">
                            <i class="bi bi-check-circle-fill text-success"></i>
                        </span>
                        <ng-template #notExpedited>
                            <i class="bi bi-x-circle-fill text-danger"></i>
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td class="detail-title">One Day Shipping</td>
                    <td class="detail-value">
                        <span *ngIf="itemId.shippingInfo[0].oneDayShippingAvailable[0] === 'true'; else notOneDay">
                            <i class="bi bi-check-circle-fill text-success"></i>
                        </span>
                        <ng-template #notOneDay>
                            <i class="bi bi-x-circle-fill text-danger"></i>
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td class="detail-title">Returns Accepted</td>
                    <td class="detail-value">
                        <span *ngIf="itemId.returnsAccepted[0] === 'true'; else notAccepted">
                            <i class="bi bi-check-circle-fill text-success"></i>
                        </span>
                        <ng-template #notAccepted>
                            <i class="bi bi-x-circle-fill text-danger"></i>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="Seller" class="tab-content" *ngIf="activeTab === 'Seller'">
        <table class="table">
            <tbody>
                <tr>
                    <td class="detail-title" colspan="2">
                <tr>
                    <td class="text-center" style="text-align: center;" colspan="2"><strong>{{
                            itemDetails.Item.Seller.UserID }}</strong></td>
                </tr>
                </td>
                </tr>
                <tr>
                    <td class="detail-title">Feedback Score</td>
                    <td class="detail-value">{{ itemDetails.Item.Seller.FeedbackScore }}</td>
                </tr>
                <tr>
                    <td class="detail-title">Popularity</td>
                    <td class="detail-value">
                        <div style="position: relative; width: 25px; height: 25px;">
                            <round-progress [current]="itemDetails.Item.Seller.PositiveFeedbackPercent" [max]="100"
                                [radius]="15" [color]="'#006400'" [stroke]="4">
                            </round-progress>
                            <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                {{ itemDetails.Item.Seller.PositiveFeedbackPercent }}
                            </span>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td class="detail-title">Feedback Rating Star</td>
                    <td class="detail-value">
                        <i class="bi bi-star-fill" [style.color]="itemDetails.Item.Seller.FeedbackRatingStar"></i>
                    </td>
                </tr>

                <tr>
                    <td class="detail-title">Top Rated</td>
                    <td class="detail-value">
                        <span *ngIf="itemDetails.Item.Seller.TopRatedSeller; else notTopRated">
                            <i class="bi bi-check-circle-fill text-success"></i>
                        </span>
                        <ng-template #notTopRated>
                            <i class="bi bi-x-circle-fill text-danger"></i>
                        </ng-template>
                    </td>
                </tr>

                <tr>
                    <td class="detail-title">Store Name</td>
                    <td class="detail-value">{{ itemDetails.Item.Storefront.StoreName }}</td>
                </tr>
                <tr>
                    <td class="detail-title">Buy Product At</td>
                    <td class="detail-value">
                        <a href="{{ itemDetails.Item.Storefront.StoreURL }}" target="_blank">Visit Store</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Angular component template -->
    <div id="SimilarProducts" class="tab-content" *ngIf="activeTab === 'SimilarProducts'">
        <div class="sort-controls">
            <select [(ngModel)]="sortBy" (ngModelChange)="sortSimilarItems()" id="sortBy">
                <option value="default">Default</option>
                <option value="productName">Product Name</option>
                <option value="daysLeft">Days Left</option>
                <option value="price">Price</option>
                <option value="shippingCost">Shipping Cost</option>
            </select>
            <select [(ngModel)]="sortDirection" (ngModelChange)="sortSimilarItems()" id="sortDirection"
                [disabled]="sortBy === 'default'">
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
            </select>
        </div>
        <div *ngFor="let product of similar" class="product-item">
            <img [src]="product.imageURL" alt="{{ product.title }}">
            <div class="product-details">
                <div class="title">{{ product.title }}</div>
                <div class="price">Price: ${{ product.buyItNowPrice?.__value__ }}</div>
                <div class="shipping">Shipping Cost: ${{ product.shippingCost?.__value__ }}</div>
                <div class="time-left">Days Left: {{ calculateDaysLeft(product.timeLeft) }}</div>
            </div>
        </div>
    </div>



</div>