.required { color: red; }

.container {
    color: #FFF; border-radius: 5px;
}
.form-container {
    margin: auto 10%;
    padding: 20px 25%;
}
 
.same-line {
    display: inline;
}
.inline-group {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.inline-group > label {
    margin-bottom: 0;
}

.from-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.error-message {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input[disabled] {
    background-color: lightgrey;
}
input:disabled {
    background-color: lightgrey;
}

.dropdown-content {
    position: absolute;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f9f9f9;
    z-index: 10; 
}

.dropdown-content div {
    padding: 5px 10px;
    cursor: pointer;
    color: black;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.search-btn:enabled {
    background-color: white;
    color: black;
    border: 1px solid #000;
    box-shadow: none;
}

.search-btn:disabled {
    background-color: #e7e7e7;
    color: #999999;
    border: 1px solid #ccc;
    box-shadow: none;
}

.search-btn:enabled:hover {
    background-color: #f8f8f8; 
    cursor: pointer;
}

.search-btn {
    padding: 5px 15px;
}
.search-btn {
    margin-right: 10px;
  }
  .btn i {
    margin-right: 5px;
  }
  