.container {
    color: white; 
}
.lol {
    margin: auto 10%;
}
.title-column {
    color: blue;
}

.product-image {
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
}

.product-image {
    width: 120px;
    height: 120px; 
    object-fit: cover;
}

.row.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.fa-shopping-cart {
    font-size: 1.2rem;
    color: white; 
}

.even-row {
    background-color: rgb(34, 35, 39); 
}

.odd-row {
    background-color: rgb(23, 24, 27); 
}


.row {
    margin: 0;  
}
.row.border-bottom {
    border: none;
    height: 150px; 
    display: flex;
    align-items: center;
}

.nowrap {
    white-space: nowrap;
}

.row {
    margin: 0;  
    padding: 0; 
}

.row.border-bottom {
    border: none;
    height: 150px; 
    display: flex;
    align-items: center;
}

.col-1, .col-2, .col-3 { 
    padding: 0;
    padding-right: 15px; 
}
.row {
    margin: 0 !important;
    padding: 10px !important;
}

.loading-bar-container {
    height: 20px;
    margin: auto 10%;
    background-color: grey;
  }
  
  .loading-bar {
    height: 20px;
    width: 0;
    background-image: repeating-linear-gradient(
      -45deg,
      #007BFF, 
      #007BFF 10px, 
      #FFF 10px,
      #FFF 20px
    );
    animation: expandAndMove 2s forwards;
  }
  
  @keyframes expandAndMove {
    0% {
      width: 0;
      background-position: 0% 0;
    }
    100% {
      width: 100%;
      background-position: 28px 0;
    }
  }

  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.pagination-btn, .page-number {
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.pagination-btn:disabled, .page-number.current-page {
    cursor: not-allowed;
    background-color: #007bff;
    color: white;
    border: none;
}

.pagination-btn:not(:disabled):hover, .page-number:not(.current-page):hover {
    background-color: #f5f5f5;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}



.button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent; 
    color: #FFF; 
    outline: none;
}

.button.selected {
    background-color: black;
}


.button:hover {
    background-color: rgba(0,0,0,0.3); 
}


.custom-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    transition: visibility 0s, opacity 0.1s linear;
}

.title-column:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
}

.button-container {
    text-align: center;
    padding: 20px; 
}

.button-container button {
    background-color: #000; 
    color: #fff;
    border: none;
    padding: 10px 20px; 
    margin: 0 10px;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.button-container button:hover {
    background-color: #555; 
}

.button-container button i {
    margin-right: 5px; 
}


.button-container button.inactive {
    background-color: #fff; 
    color: #000;
}

.button-container button.active {
    background-color: #000;
    color: #fff; 
}
.title-column:hover {
    text-decoration: underline;
  }
  